@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body{
    font-family: 'Prompt', sans-serif;
    background-color:cyan;
}
div {
    color :#453f;
}
.bg-color-white {
    background-color:cornflowerblue;
}

.bgborder-1-radius-5{
    color: #cda833;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    background-color: #ed710a;
}